input, button, legend{
    padding: 5px;
    margin: 5px;
}

ul{
    list-style-type: none;
}

h1{
    text-align: center;
}

#changeContact {
    /* display: inline-block;
    border: 1px solid black;
    background-color: black;
    width: fit-content; */
}